<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title is-4 main-title">- The TIPPS BBQ -</p>
      <p class="subtitle is-5 main-subtitle">
        <i class="fa-solid fa-fire-flame-simple flame"></i>
         &nbsp;
        <i class="fa-solid fa-2xs fa-fire-flame-simple flame"></i>
         &nbsp;Experience&nbsp;
        <i class="fa-solid fa-2xs fa-fire-flame-simple flame"></i>
         &nbsp;
        <i class="fa-solid fa-fire-flame-simple flame"></i>
      </p>
    </div>
  </div>
</section>
<div class="horizontal-rule"></div>
