<section class="bg-gray-900 text-white">
  <section class="container mx-auto py-8">
    <div class="text-center">
      <p class="text-4xl font-bold main-title">- The TIPPS BBQ -</p>
      <div class="text-lg main-subtitle">
        <i class="fas fa-fire flame"></i>
         &nbsp;
        <i class="fas fa-xs fa-fire flame"></i>
         &nbsp;Experience&nbsp;
        <i class="fas fa-xs fa-fire flame"></i>
         &nbsp;
        <i class="fas fa-fire flame"></i>
      </div>
    </div>
  </section>
  <div class="border-t border-gray-200"></div>
</section>
