<div class="prose bg-white shadow-md rounded-md p-4">
  <slot />
</div>

<style>
  .prose :global(h2) {
    @apply text-lg font-semibold pb-2;
  }
  .prose :global(li) {
    @apply text-sm pb-2;
  }
</style>
